---
import MaxWidthWrapper from "../MaxWidthWrapper.astro";
---

<section class="relative overflow-hidden py-30 lg:py-32">
    <div
        class="from-primary absolute inset-0 bg-linear-to-r to-[#17b0cf] opacity-95"
    >
    </div>

    <MaxWidthWrapper class="relative z-10">
        <div class="mx-auto max-w-4xl text-center">
            <span
                class="mx-auto mb-8 inline-flex rounded-full border border-white/30 bg-white/20 px-4 py-1.5 text-sm font-semibold tracking-wider text-white backdrop-blur-xs"
            >
                Plataforma de Cursos Especializada
            </span>

            <h1
                class="text-5xl font-bold tracking-tight text-white sm:text-6xl lg:text-7xl"
            >
                Aprende y Capacita <br />
                <span class="text-secondary opacity-90">tu Equipo</span>
            </h1>

            <p
                class="mx-auto max-w-2xl pt-16 text-lg leading-relaxed text-white/90 sm:text-xl"
            >
                Cursos especializados en todas las áreas empresariales, impartidos por
                expertos con certificación al completar cada módulo.
            </p>
        </div>
    </MaxWidthWrapper>
</section>
